@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation pour les notifications */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
